@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&display=swap");

/* 
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merienda:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
*/

* {
  font-family: "Baloo Da 2", "Overlock", "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  /* font-family: "Open Sans", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol"; */
  padding-top: 54px;
  color: #333;
  font-size: 14px;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merienda", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #343a40;
}

h1,
h2 {
  font-family: "Merienda", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 5rem;
  text-transform: uppercase;
}
h2 {
  font-size: 4rem;
} */

/* .date {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
} */
.paragraph {
  font-weight: 400;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  color: black;
}

/*h1 {
	font-size: 4rem;
	line-height: 3.5rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
}*/

p.lead {
  font-size: 1.5rem;
  font-weight: 400;
}

.title,
.subtitle {
  color: #333;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  /* background-color: #bd5d38; */
  background-color: #158 !important;
  background: linear-gradient(to top, #3366cc 0%, #33cccc 100%) !important;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #bd5d38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

/* .text-primary {
  color: #BD5D38 !important;
} */

/* a {
  color: #BD5D38;
} */

a:hover,
a:focus,
a:active {
  color: #824027;
}

.skill-tag:before {
  content: "";
}
.skill-tag {
  border: solid 1px #ddd;
  padding: 4px 7px;
  border-radius: 10px;
  margin-right: 5px;
}

.width-0 {
  width: 0% !important;
}
.width-10 {
  width: 10% !important;
}
.width-20 {
  width: 20% !important;
}
.width-30 {
  width: 30% !important;
}
.width-40 {
  width: 40% !important;
}
.width-50 {
  width: 50% !important;
}
.width-60 {
  width: 60% !important;
}
.width-70 {
  width: 70% !important;
}
.width-80 {
  width: 80% !important;
}
.width-90 {
  width: 90% !important;
}
.width-100 {
  width: 100% !important;
}

.bg-h-grad {
  background: linear-gradient(90deg, #33cccc 0%, #3366cc 100%);
}
.bg-v-grad {
  background: linear-gradient(to top, #3366cc 0%, #33cccc 100%);
}

/* .nav-item > .nav-link.active {
  background-color: #33cccc;
  background-color: rgba(255, 255, 255, 0.5);
} */
