body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.company {
  /* border-bottom: 1px solid #ccc; */
  /* padding-bottom: 1rem; */
}
.company .image {
  width: 160px;
  /* border-radius: 5px; */
  border: 0px solid #ddd;
}
.company .name {
  vertical-align: bottom;
}

.position {
  border-left: 2px solid #3366cc;
  border-radius: 0px;
}
